@media (max-width: 480px) {
  .search-box {
    flex-direction: column;
    align-items: center;
    gap: 10px;

    input,
    button {
      width: 250px;
      padding: 10px 15px;
      box-sizing: border-box;
      border: none;
      outline: none;
      font-size: 1rem;
      font-family: inherit;
      border-radius: 8px;
    }
  }
}
