* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0d1117;
  color: #c9d1d9;
  overflow-x: hidden;
  position: relative;
}

#stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
